.hero{
    background-color: #85BBA8;
}

.title{
    margin-top: .3125rem; 
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #FF7171;
}


.anuncios{
    background-color: #a7d3f2;
    opacity: 90%;

}

p{
    line-height: 3vh;
}