

#root {
    height: 100vh;
    position: relative;
}


.card {
    position: relative;
    width: 18.125rem;
    height: 450px;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    margin: 1.25rem;
    color: #454545;
    text-align: center;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0%;
	margin-left: 5rem;
}

.img-size {
    width: 17.875rem;
    height: 16.875rem;
    object-fit: cover;
}


.container-gn {
    background-color: #85BBA8;
    color: white;
    text-align: center;
	flex-wrap: wrap;


}

.container-bar {
    margin-bottom: .625rem;
    align-items: center;
}


.header-cart {
	text-align: center;
	color: white;
}

.button {
	border-radius: 10px;
	background-color: red;

}
.buy {
	border-radius: 10px;
	background-color: green;

	
}

@media (max-width: 414px) {
    .card {
        width: 120vw;
        align-items: center;

    }

    .cards {
        width: 90vw;
        align-items: center;

    }


    .container-bar {
		margin-right: 10vh;
        align-items: center;
    }
}

@media (max-width: 395px) {
    .card {
        width: 80vw;

    }

    .cards {
        width: 73vw;
        margin-left: 1.5rem;
    }

    .img-size {
        width: 14.8125rem;
        height: 12.5rem;
        object-fit: cover;
    }

}

@media (max-width: 361px) {
    .card {
        width: 100vw;
    }

    .cards {
        width: 75vw;
        margin-left: 1.5rem;
    }

    .img-size {
        width: 14.3125rem;
        height: 12.5rem;
        object-fit: cover;
    }

}