.modal-backdrop.show {
    opacity: 0.2;
} 

  #root {
    height: 100vh;
    position: relative;
} 

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0%;
}

.card {
    position: relative;
    width: 18.125rem;
    height: 450px;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    margin: 1.25rem;
    color: #454545;
    text-align: left;

}

.img-size {
    width: 17.875rem;
    height: 16.875rem;
    object-fit: cover;
}

.card:hover {
     /* opacity: 0.8;  */
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 10 10px rgba(255, 255, 255, 0.787);
}

.container-gn {
    background-color: #85BBA8;
    color: white;
    text-align: center;
    padding-bottom: 20%


}

.container-bar {
    margin-bottom: .625rem;
    align-items: center;
}

.searchStyle {
    border-radius: 10px;
    border: 0;
    width: 50vw;
    color: black;
    padding: 7px;
    position: sticky;
    top: .5rem;
    margin-left: 5rem;
}

@media (max-width: 414px) {
    .card {
        width: 120vw;
        align-items: center;

    }

    .cards {
        width: 90vw;
        align-items: center;

    }

    .card:hover {
        opacity: 0.8;
        cursor: pointer;
        transform: none;
        box-shadow: none;
    }

    .container-bar {

        margin-right: 10vh;
        align-items: center;
    }


    
}

@media (max-width: 395px) {
    .card {
        width: 80vw;

    }

    .cards {
        width: 73vw;
        margin-left: 1.5rem;
    }

    .img-size {
        width: 14.8125rem;
        height: 12.5rem;
        object-fit: cover;
    }

}
.season-select {
    background-color: #f8f8f8;
    color: #333;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    width: 100%;
    max-width: 15rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    font-family: "Roboto", sans-serif;
   
  }
  
  .season-select option {
    background-color: #fff;
    color: #333;
  }
  


@media (max-width: 361px) {
    .card {
        width: 100vw;
    }

    .cards {
        width: 75vw;
        margin-left: 1.5rem;
    }

    .img-size {
        width: 14.3125rem;
        height: 12.5rem;
        object-fit: cover;
    }

} 