.Logo{
    width: 15vw !important;
      
  }
  
  .menu {
    margin-left: 10%;
    background-color: #CB5F5F
    
  }
  

  .navigation{
    background-color: #CB5F5F !important;
    width: 100vw;
  
  }
  
  .text-navbar{
    color: #FFFFFF !important;
    margin-inline-start: .3125rem;
    margin-left: 20vh;
    text-decoration: none;
    font-size: x-large;

  }

  .text-navbar:hover {
    color: #85BBA8 !important;
    box-shadow:  2px #FFFFFF;
  }

  #responsive-navbar-nav{
    color: #FFFFFF !important;
    
  }

