*{
  margin: 0;
  padding: 0;
  
}

 .Logo{
    width: 15vw !important; 
      
  }  

  .navbar-item {
    margin-right: 80px;
  }

  .navbar-item:hover {
    color: #85BBA8 !important;
    box-shadow:  2px #FFFFFF;
  }

