#ProductTitle{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.modal-body{
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-img {
    height: 100px !important; 
    width: 100px !important; 
}
