/* .lottie-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }
  
  .navbar-sub > .lottie-container {
    height: 50%; 
    width: 100%;
  }
    */