.carousel {
    height: auto;
  
  }

.slide{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 1%;
    
}
.position {
    margin-top: 1%;
    margin-bottom: 1%;
}



@media (max-width: 414px) {
    .slide{
        margin-top: 0;
    }
  }

  @media (max-width: 375px) {
    .slide{
        margin-top: 0;
    } 
   }