.cards{
    background-color: #85BBA8;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    /* margin-left: 1%; */
}

#last-products {
    margin-top: .3125rem; 
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #FF7171;
    width: 50%;
}

#last-products:hover {
    background-color: white; 
    color: #FF7171;
}